<header class="site-header container d-flex justify-content-between align-items-center" role="banner">

  <div id="site-logo">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="d-flex align-items-center" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/images/logo.png" }}" alt="Logo">
      <span>Thanh Vu</span>
    </a>
  </div>

  {%- if page_paths -%}
    <nav class="site-nav">
      
      <div class="trigger d-flex">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </nav>
  {%- endif -%}
</header>
