.home-contact {
    .header {
        padding: 20px 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        border-top: 1px #ccc solid;
        border-bottom: 1px #ccc solid;

        #contact-header {
            font-size: xx-large;
            color: gray;
        }
    }

    .content {
        display: flex;
        justify-content: center;
        
        a {
            &::after {
                content: none !important;
            }
            
            img {
                $contact-icon-size: 30px;
                
                margin: 30px 10px;
                width: $contact-icon-size;
                height: $contact-icon-size;
                transition: transform .3s ease-in-out;
                
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.dark img#icon-github {
    filter: invert(1) brightness(2);
}