.home-project {
    .header {
        padding: 20px 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        border-top: 1px #ccc solid;
        border-bottom: 1px #ccc solid;

        #project-header {
            font-size: xx-large;
            color: gray;
            user-select: none;
        }
    }

    .content {
        padding: 100px 0;
    }
}