$content-width: 1200px;
$avatar-size: $content-width * 0.25;

.home-welcome {
    .header {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        border-bottom: 1px #ccc solid;

        #welcome-header {
            user-select: none;
            font-size: xx-large;
            color: gray;
        }
    }

    .content {
        display: flex;

        .summary {
            width: $content-width - $avatar-size;
        }
        
        .master-container {
            margin: 0 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            user-select: none;
            
            .avatar-wrapper {
                width: $avatar-size;
                height: $avatar-size;
                overflow: hidden;
                border-radius: 50%;
                margin-bottom: 30px;
                
                img.avatar {
                    width: 100%;
                    height: auto;
                    object-position: center;
                    object-fit: cover;
                }
            }

            .contact {
                a {
                    &::after {
                        content: none !important;
                    }
                    
                    img {
                        $contact-icon-size: 30px;
                        
                        margin: 0 10px;
                        width: $contact-icon-size;
                        height: $contact-icon-size;
                        transition: transform .3s ease-in-out;
                        
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}

.dark img#icon-github {
    filter: invert(1) brightness(2);
}