$logoContainerMinSize: 200px;
$logoSize: 175px;

.opswat {
    display: flex;

    .overview {
        .logo-container {
            min-width: $logoContainerMinSize;
            height: $logoContainerMinSize;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img.company-logo {
                width: $logoSize;
                height: $logoSize;
            }
        }

        .timeline-container {
            $timelineWidth: 2px;
        }
    }

    .work-description {
        width: 100%;
        margin: 0;
        padding-left: 30px;
        padding-top: 10px;
    }
}